$white: #ffffff;
$blue: #2980b9;
$blue-dark: #263944;
$blue-light: #c9dfed;
$blue-sky: #f4f9fb;
$orange: #fe8f01;
$orange-dark: #ec8c11;
$light-orange: #fff9f2;
$red: #ff0000;
$pink: #ff00000d;
$gray-100: #f1f1f1;
$gray-200: #dedede;
$dark-500: #959393;
$gray-600: #626262;
$gray-700: #333333;
$gray-800: #222222;

$primary: $blue;
$primary-darken: $blue-dark;
$secondary: $orange;
$secondary-darken: $orange-dark;

$warning: $orange;
$danger: $red;
$info: $blue;

$font-size-default: 15px;
$font-size-base: 1rem;
$font-size-sm: .93333333rem;

$font-family: 'Inter', sans-serif;
$font-primary-set: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$container-width: 74rem;
$gutter-width: 2.66666667rem;
