.el-button {
  text-decoration: none;
  font-weight: 400;
  &:hover {
    text-decoration: none;
  }

  @include media-breakpoint-down(xs) {
    white-space: normal;
    line-height: 1.4;
  }
}

.el-button--blue,
.btn-mini {
  background-color: $blue-sky;
  border-color: $blue-sky;
  color: $black;
  &:hover {
    background-color: $blue-light;
    border-color: $blue-light;
    color: $black;
  }

  &:active {
    background-color: $blue-light;
    border-color: $blue-light;
    color: $black;
  }

  &:focus {
    background-color: $blue-light;
    border-color: $blue-light;
    color: $black;
  }
}

.el-button--tertiary {
  color: $orange;
  border-color: $orange;

  &:hover {
    color: $orange-dark;
    border-color: $orange-dark;
    background-color: $light-orange;
  }
}

.el-button--big {
  padding: rem(15px) rem(25px);
  font-size: rem(18px);
  font-weight: 700;

  @include media('>md') {
    padding: rem(24px) rem(54px);
    font-size: rem(22px);
  }
}

.el-button--large,
.btn-premium {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2.666rem;
  padding-left: 2.666rem;
  font-size: 1.4666rem;
  font-weight: 700;

  @include media-breakpoint-down(xs) {
    min-width: 150px;
    padding-top: .8rem;
    padding-bottom: .8rem;
    padding-left: .53rem;
    padding-right: .53rem;
    font-size: 1rem;
  }
}

.el-button--small,
.btn-mini {
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-right: .66rem;
  padding-left: .66rem;
  font-size: .8rem;
  font-weight: 400;
}

.el-button--invoice {
  &::before {
    margin-right: 9px;
    vertical-align: middle;
    font-size: 28px;

    @include media-breakpoint-down(xs) {
      font-size: 20px;
      margin-right: 5px;
    }
  }
}


.el-button-wrapper {
  margin-top: 20px;
  @include media-breakpoint-down(xs) {
    .el-button {
      margin-bottom: 10px;
      display: table;
      white-space: normal;
      line-height: 1.4;
    }

    .el-button + .el-button {
      margin-left: 0;
    }
  }
}

.el-button-grp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: rem(20) rem(35);

  .el-button + .el-button {
    margin-left: 0;
  }
}

.flex-center-buttons {
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: $--breakpoint-sm) {
    flex-direction: column;

    .stacked-button-spacing {
      margin-top: 10px;
    }
  }
}
