footer {
  flex-shrink: 0;
  background-color: $white;
  padding: 40px 0;
  border-top: 1px solid $gray-200;
  position: relative;
  color: $--color-text-primary;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  @include media-breakpoint-down(sm) {
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 550px) {
    justify-content: flex-start;
  }
}

.footer__copyright {
  flex-shrink: 0;
  white-space: nowrap;
}

.footer__brand {
  color: $--color-text-primary;
  text-decoration: none;
  &:hover {
    color: $--color-text-primary;
  }
}

.footer-menu-wrapper {
  flex: 1;
  padding-left: 30px;
  padding-right: 30px;
  @include media-breakpoint-down(md) {
    padding-right: 0;
  }
  @include media-breakpoint-down(sm) {
    max-width: calc(100% + 30px);
    flex-basis: calc(100% + 30px);
    padding-left: 0;
    padding-right: 0;
    margin-left: -15px;
    margin-right: -15px;
  }
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
}

.footer-menu__col {
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  flex: 1;
  @media (max-width: 550px) {
    max-width: 50%;
    flex: 0 0 50%;
  }
}

.footer-menu__item {
  font-size: 12px;
  margin: 0 0 4px;
  padding-right: 5px;
  @include media-breakpoint-down(sm) {
    margin-top: 4px;
  }
}

.footer-menu__link {
  color: $--color-text-blue;
  text-decoration: none;
  &:hover {
    color: $--color-text-blue;
    text-decoration: underline;
  }
}

.footer__logo {
  @include media-breakpoint-down(sm) {
    order: 1;
    margin-top: 15px;
    margin-right: 30px;
    img {
      max-width: 80px;
    }
  }
}

.footer__lang-n-copy {
  text-align: right;
  @include media-breakpoint-down(md) {
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    text-align: left;
  }
  @include media-breakpoint-down(sm) {
    margin-top: 15px;
    width: auto;
    order: 2;
    display: block;
    text-align: center;
  }
  @media (max-width: 550px) {
    text-align: left;
  }
}
