.navbar-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin: 0 0 0 auto;
  padding: 0;
  list-style: none;
  width: 100%;
}

.navbar-navigation__item {
  padding-left: 5px;
  padding-right: 5px;
  & > a > span {
    @include media('<navbarXl') {
      display: none;
    }
  }

  @include media-breakpoint-down(xs) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .el-button {
    @include media-breakpoint-down(xs) {
      padding: 0.9rem 1rem;
      line-height: 0;
    }
  }
}

.navbar-navigation__item--new-invoice {
  margin-top: 15px;
  margin-bottom: 15px;
  @include media('<navbarLg') {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.navbar-navigation__link {
  display: inline-flex;
  align-items: baseline;
  text-decoration: none;
  font-size: $font-size-sm;
  &:hover {
    text-decoration: none;
    span {
      text-decoration: underline;
    }
  }
}

.navbar__brand {
  flex-shrink: 0;
}
